.page {
  background-color: rgb(33, 43, 7);
  padding: 0;
}

h1 {
  text-align: center;
  color: aliceblue;
}
p {
  text-align: center;
  color: aliceblue;
}
.img {
  text-align: center;
}
.ref {
  background-color: aliceblue;
}
